<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>
        This is the homepage of the birthday stats API, developed by Chase Traver.
    </h2>
    <h3>
        To use me, put your birthday in YYYYMMDD format in the url after a slash, e.g.
        <a href="https://birthday-facts-api.herokuapp.com/19970715">
            https://birthday-facts-api.herokuapp.com/19970715
        </a>
    </h3>
    <p>
        You can also narrow your results from getting everything related to your birthday to one resource
        by putting the resource you want in a slash after your birthday, e.g.
        <a href="https://birthday-facts-api.herokuapp.com/19970715/chinesezodiac">
            https://birthday-facts-api.herokuapp.com/19970715/chinesezodiac
        </a>
    </p>
    <p>
        You can also request multiple resources simultaneously by using & to chain them, e.g.
        <a href="https://birthday-facts-api.herokuapp.com/19970715/chinesezodiac&birthflowers">
            https://birthday-facts-api.herokuapp.com/19970715/chinesezodiac&birthflowers
        </a>
    </p>
    <p>
        Source code can be found at this location: <a href="https://github.com/chasetraver/birthday-api"> https://github.com/chasetraver/birthday-api</a>
    </p>

</body>
</html>